extends layout

block head
    link(rel='stylesheet', href='/stylesheets/flavors.css')
    script(type='text/javascript', src='/javascripts/flavors.js')

block content
    table(onload='make()')#layout
        td#firstCell
            ul#nav
                for page in pages
                    li
                        a.pageLink(href = page[1] id= page[2] ? "active" : "")= page[0]
        td#secondCell
            for flavor in flavors
                p.sectionName=flavor.name
                if flavor.data[0][0]
                    p.header=flavor.data[0][0]
                - var i = 1
                table.sectionTable
                    while i < flavor.data.length
                        tr.sectionItem(class = (i % 2 === 0) ? "sectionRow" : "sectionRowDark")
                            td.sectionItem.itemName=flavor.data[i][0]
                            td.sectionItem=flavor.data[i++][1]
                if flavor.data[0][1]
                    p.footer=flavor.data[0][1]