extends layout

block head
    link(rel='stylesheet', href='/stylesheets/flavors.css')
    script(type='text/javascript', src='/javascripts/flavors.js')

block content
    //div#secondNav
    //    ul
    //        each val in flavors
    //            a(href!="#" + val.name)
    //                li!= val.name
    div#display
        div#flavors
            each val in flavors
                a(name!=val.name)
                div.section
                    p.sectionName!= val.name
                    p.header!= val.data[0][0]
                    table
                        -for(var i = 1; i < val.data.length; i++) {
                            tr
                                td!=val.data[i][0]
                                if(val.data[i][1])
                                    td!=val.data[i][1]
                        -}
                    p.footer!= val.data[0][1]